<p>header works!</p>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar fixed-top">
  <a class="navbar-brand" href="#">
    <span fxShow="true" fxHide.lt-md="true"><span style="font-size: 22px;">BARC Employees Co-Op. Credit Society Ltd.</span>
  </span>

    <span fxShow="false" fxHide.lt-md="false"><span style="font-size: 10px;">BARC Employees Co-Op. Credit Society Ltd.</span>
</span>
  </a>
  <span class="menu_spacer"></span>
  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="toggleNavbar()" routerLink="user/login" routerLinkActive="active">Login
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  (click)="toggleNavbar()" routerLink="user/register"  routerLinkActive="active">Register</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="toggleNavbar()" routerLink="user/help" routerLinkActive="active">Help</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="toggleNavbar()" routerLink="user/contact" routerLinkActive="active">Contact Us</a>
      </li>


    </ul>
  </div>

</nav>
